<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"main"},"layout":{"type":"constrained","contentSize":"62.5rem"}} -->
<main class="wp-block-group"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"customOverlayColor":"#FFF","isUserOverlayColor":true,"isDark":false,"align":"full","style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover alignfull is-light"><span aria-hidden="true" class="wp-block-cover__background has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:heading {"textAlign":"center","level":1,"align":"full","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}},"typography":{"fontSize":"2rem"}},"textColor":"contrast"} -->
<h1 class="wp-block-heading alignfull has-text-align-center has-contrast-color has-text-color has-link-color" style="font-size:2rem">Welcome to Mindset</h1>
<!-- /wp:heading --></div></div>
<!-- /wp:cover -->

<!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce finibus urna et faucibus tristique. Nulla facilisi. Sed lorem nisl, tempus eu bibendum sodales, sodales vitae mi. Nam tincidunt luctus fringilla. Ut rutrum lorem ac mattis molestie. Mauris pretium justo eget nisl scelerisque ultrices. Ut velit nibh, faucibus id nunc a, malesuada feugiat nulla.</p>
<!-- /wp:paragraph --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->