<!-- wp:template-part {"slug":"header","tagName":"header" ,"className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"main"},"layout":{"type":"constrained","contentSize":"62.5rem"}} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"top"}} -->
    <div class="wp-block-group">
        <!-- wp:query {"queryId":2,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"layout":{"type":"constrained","contentSize":"46rem"}} -->
        <div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"default"}} -->
            <!-- wp:group {"tagName":"article","metadata":{"name":"Article"},"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|80"}}}} -->
            <article class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--80)">
                <!-- wp:post-title {"isLink":true} /-->

                <!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group"><!-- wp:paragraph -->
                    <p>Posted on</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:post-date {"isLink":true} /-->

                    <!-- wp:paragraph -->
                    <p>By</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:post-author {"showAvatar":false,"showBio":false} /-->
                </div>
                <!-- /wp:group -->

                <!-- wp:post-featured-image {"isLink":true} /-->

                <!-- wp:post-excerpt {"moreText":"Continue Reading","showMoreOnNewLine":false,"excerptLength":30} /-->

                <!-- wp:group {"style":{"typography":{"fontSize":"14px"}},"layout":{"type":"flex"}} -->
                <div class="wp-block-group" style="font-size:14px"><!-- wp:post-terms {"term":"category"} /-->

                    <!-- wp:post-terms {"term":"post_tag"} /-->
                </div>
                <!-- /wp:group -->
            </article>
            <!-- /wp:group -->
            <!-- /wp:post-template -->

            <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
            <div class="wp-block-group">
                <!-- wp:query-pagination {"paginationArrow":"chevron","layout":{"type":"flex","justifyContent":"center"}} -->
                <!-- wp:query-pagination-previous /-->

                <!-- wp:query-pagination-numbers /-->

                <!-- wp:query-pagination-next /-->
                <!-- /wp:query-pagination -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:query -->

        <!-- wp:template-part {"slug":"sidebar","area":"uncategorized" ,"tagName":"aside","className":"site-sidebar"} /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->