<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"main"},"layout":{"type":"constrained","contentSize":"62.5rem"}} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
<div class="wp-block-group"><!-- wp:group {"tagName":"article","metadata":{"name":"Article"},"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|80"}}},"layout":{"type":"default"}} -->
<article class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--80)"><!-- wp:post-title /-->

<!-- wp:post-featured-image {"width":"","height":"","sizeSlug":"200x250"} /-->

<!-- wp:post-content /--></article>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar","tagName":"aside","area":"uncategorized","className":"site-sidebar"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->