<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"main"},"layout":{"type":"constrained","contentSize":"62.5rem"}} -->
<main class="wp-block-group"><!-- wp:group {"tagName":"article","metadata":{"name":"Article"},"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|80"}}},"layout":{"type":"default"}} -->
<article class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--80)"><!-- wp:post-title {"level":1} /-->

<!-- wp:post-featured-image /-->

<!-- wp:post-content /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous"} /-->

<!-- wp:post-navigation-link /--></div>
<!-- /wp:group --></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->